:root {
  --board-background-color:rgb(40, 89, 57);
  --board-border-color:10px solid rgb(183, 109, 48);

  --space-width:7px;

  --border-color-player0: 1px solid rgb(255, 255, 255);
  --border-color-player1: 1px solid  rgb(0, 0, 0);
  --background-color-player0:rgb(0, 0, 0);
  --background-color-player1:rgb(255, 255, 255);
  --arrow-even-color:rgb(204, 72, 72);
  --arrow-odd-color:rgb(255, 255, 255);
  --border-canPickUp-color: rgb(0, 255, 89);
  --border-canPlace-color:0.1px solid rgb(0, 255, 89);

  --piece-up-margin-top:-270px;
  --piece-down-top:315px;
  --piece-margin-left:-24px;
  --arrow-up-margin-top:160px;
  --piece-dead-margin-left:3px;
  --piece-size:48px;
  --piece-dead-size:42px;
  --piece-dead-1-margin-top:655px;
  --middle-bar-size:50px;
  --arrow-width: 34px solid transparent;
  --arrow-margin-left: -0px;
  --arrow-height: 270px solid ;

}
.board {
  width: 915px;
  height: 720px;
  background-color: var(--board-background-color);
  border: var(--board-border-color);
  border-radius: 10px;
  margin-left: max(3vw, calc(66vw - 720px)); 

}

.arrow{
  float: left;
}
.arrow-down { 
  height: 0px;
  width: 0px;
	border-left: var(--arrow-width);
	border-right: var(--arrow-width);
	border-top: var(--arrow-height) rgb(204, 72, 72);  
  
}

.space{
  width: var(--space-width);
  height: 1px;
  float:left
}

.arrow-up {
  height: 0px;
  width: 0px;
  margin-top: var(--arrow-up-margin-top); 
	border-left: var(--arrow-width);
	border-right: var(--arrow-width);
	border-bottom: var(--arrow-height)  rgb(204, 72, 72);

  float:left
  
}
.dice{
  position: absolute;
  margin-top: 350px;
  margin-left: 300px;
}

.arrow-up.odd {
  border-bottom: var(--arrow-height)  rgb(255, 255, 255);}

.arrow-down.even {
	border-top: var(--arrow-height)  rgb(255, 255, 255);
}
.arrow-up.arrow-can-place{
  border-top: var(--border-canPlace-color);

}
.arrow-down.arrow-can-place{
  border-bottom: var(--border-canPlace-color);

}

.middle-bar {
  width: var(--middle-bar-size);
  height: 700px;
  background-color: rgb(183, 109, 48);
  opacity: 0.9;
  float: left;
  
}
.end-bar {
  width: var(--middle-bar-size);
  height: 710px;
  background-color: var(--board-background-color);
  opacity: 0.9;
  margin-left: 905px;
  margin-top: -5px;
  border-radius: 5px; 
  border: 5px solid rgb(72, 35, 4) 
}
.end-bar.can-outside {
  background-color: rgb(10, 84, 157);

}





.Piece {
  width: var(--piece-size);
  height: var(--piece-size);
  background-color: var(--background-color-player0);
  opacity: 0.9;
  position: absolute;
  border-radius: 100px;
  border: var(--border-color-player0);
  margin-left: var(--piece-margin-left);

}
.SecondPiece
{
  background-color: var(--background-color-player1);
  border: var(--border-color-player1);

  
}
.Down {
  top:var(--piece-down-top);
}
.Piece-0-dead {
  width: var(--piece-dead-size);
  height: var(--piece-dead-size);
  background-color: var(--background-color-player0);
  opacity: 0.9;
  position: absolute;
  border-radius: 100px;
  border: var(--border-color-player0);
  margin-left: var(--piece-dead-margin-left);
 
}
.Piece-1-dead {
  width: var(--piece-dead-size);
  height: var(--piece-dead-size);
  background-color: var(--background-color-player1);
  opacity: 0.9;
  position: absolute;
  border-radius: 100px;
  border: var(--border-color-player1);
  margin-left: var(--piece-dead-margin-left);
  margin-top: var(--piece-dead-1-margin-top);
}
.Piece-0-outside {
  width: var(--piece-dead-size);
  height: var(--piece-dead-size);
  background-color: var(--background-color-player0);
  opacity: 0.9;
  position: absolute;
  border-radius: 100px;
  border: var(--border-color-player0);
  margin-left: var(--piece-dead-margin-left);
 
}
.Piece-1-outside {
  width: var(--piece-dead-size);
  height: var(--piece-dead-size);
  background-color: var(--background-color-player1);
  opacity: 0.9;
  position: absolute;
  border-radius: 100px;
  border: var(--border-color-player1);
  margin-left: var(--piece-dead-margin-left);
  margin-top: var(--piece-dead-1-margin-top);
}
.canPickUp{
  border-color: var(--border-canPickUp-color);
}
  

